<?xml version="1.0"?>
<traffic_list>
    <traffic>
        <maxPackets value="1000"/>
        <maxBytes value="0"/>
        <weight value="0"/>
        <priority_level value="77"/>
        <isDefault value="0"/>
        <filters>
            <filter>
                <source_port value="49153"/>
            </filter>
        </filters>
    </traffic>
    <traffic>
        <maxPackets value="1000"/>
        <maxBytes value="0"/>
        <weight value="0"/>
        <priority_level value="99"/>
        <isDefault value="1"/>
        <filters>
            <filter>
                <source_port value="49154"/>
            </filter>
        </filters>
    </traffic>
</traffic_list>
